.dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;          
    padding: 20px;
    height: 100px;       
    background: #3D5A80;
    border: black;
    border-radius: 5px;
    border-width: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: linear-gradient(45deg, #2196F3, #0D47A1);
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}

form{
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
}

.HomeSearch {
    display: flex;
    flex-direction: column; /* Aligns items vertically */
    justify-content: center; 
    align-items: center; /* Align items to the left */
    padding: 20px;
    width: 20%;
    /*max-width: 600px; Optional max width */
    background-color: #3D5A80;
    margin: 20px auto; /* Adds spacing between sections and centers the div */
    border: 1px solid #ccc; /* Optional border for better visibility */
}


input{
    width:100%;
}

button:hover {
    filter: brightness(0.8);
}

h2 {
    margin-bottom: 10px;
}

h1{
    margin:10px;
    font-size: 20px;
}

.insights {
    display: flex;
    padding: 10px;
    background: #3D5A80;
    align-items: center;        
    justify-content: center;    
    text-align: center;
    border: black; 
    border-width:5px
}
  
.insights_text{
    border: 5px solid black;   
    border-radius: 5px;
    width: 80%;                 
    background-color: white;
    padding: 10px;
    margin-left: 10%;
    transition: transform 0.5s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: normal;
}
  

.insights_text:hover{
    background-color: white;
    transform: scale(1.05);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.blank {
    height: 50px;
}


pre{
    white-space: pre-wrap; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}

.query{
    background: #3D5A80;
    align-items: center;        
    justify-content: center;    
    text-align: center; 
    border: 5px solid black;
}

#query{
    width:400px;
}