{% extends 'base.html' %}

{% block head %}
<title>Part Details</title>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 10px;
        text-align: left;
    }
</style>

{% endblock %}

{% block body %}
<!-- <h1>{{partname}}</h1> -->
<h1>{{ part_name }}</h1>

<h2>Marklines</h2>
<table>
    <thead>
        <tr>
            {% for col in marklines_data[0].keys() %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in marklines_data %}
        <tr>
            {% for value in row.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>


<h2>India Imports</h2>
<table>
    <thead>
        <tr>
            {% for col in india_imports[0].keys() %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in india_imports %}
        <tr>
            {% for value in row.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>US Imports</h2>
<table>
    <thead>
        <tr>
            {% for col in us_imports[0].keys() %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in us_imports %}
        <tr>
            {% for value in row.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}