{% extends 'base.html' %}

{% block head %}
<title>Part Details</title>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 10px;
        text-align: left;
    }
</style>
{% endblock %}

{% block body %}
<!-- <h1>{{partname}}</h1> -->
<h1>{{ part_name }}</h1>

<div class="query">

<form id="queryForm" action="/getResp" method="POST">
    <label for="query">Query:</label>
    <input type="text" name="query" id="query">
    <br>
    <button type="submit">Submit Query</button>
</form>

<h3>
    QUERY RESPONSE:
    <br>
    <div class="insights_text">
    <pre id="queryResp"></pre>
    </div>
</h3>

</div>

<script>
    $(document).ready(function() {
        $('#queryForm').submit(function(event) {
            event.preventDefault(); // Prevent form from submitting the traditional way

            var query = $('#query').val();
            $.ajax({
                url: '/getResp',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ 'query': query }),
                success: function(response) {
                    $('#queryResp').text(response.query_resp);
                },
                error: function() {
                    $('#queryResp').text('An error occurred');
                }
            });
        });
    });
</script>

<br>
<br>

<div>
<h2>Marklines</h2>
<table>
    <thead>
        <tr>
            {% for col in marklines_data[0].keys() %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in marklines_data %}
        <tr>
            {% for value in row.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div class="insights">
<h3>
    <pre>
        {% for section in insights %}
        <div class="insights_text">
            {{section}}
        </div>
        {% endfor %}
    </pre>
</h3>
</div>

<br>
<br>


<h2>Zauba - India Imports</h2>
<a href="{{ url_for('india_imports_visualisation') }}">Map Visualisation</a>
<table>
    <thead>
        <tr>
            {% for col in india_imports[0].keys() %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in india_imports %}
        <tr>
            {% for value in row.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Zauba - US Imports</h2>
<a href="{{ url_for('us_imports_visualisation') }}">Map Visualisation</a>
<table>
    <thead>
        <tr>
            {% for col in us_imports[0].keys() %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in us_imports %}
        <tr>
            {% for value in row.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
