{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block body %}
<form action="/visualize/filtered" method="post">
    <br><label for="companies">Select Sellers:</label><br>
    <select id="buyers" name="buyers" multiple size="10" style="width:1000px;">
        {% for buyer in buyers %}
            <option value="{{ buyer }}"
                {% if buyer in selected_buyers %}
                    selected
                {% endif %}
            >{{ buyer }}</option>
        {% endfor %}
    </select><br>

    <br><label for="companies">Select Buyers:</label><br>
    <select id="sellers" name="sellers" multiple size="10" style="width:1000px;">
        {% for seller in sellers %}
            <option value="{{ seller }}"
                {% if seller in selected_sellers %}
                    selected
                {% endif %}
            >{{ seller }}</option>
        {% endfor %}
    </select>
    
    <br>
    <br>

    <label for="minThickness">Select minimum thickness:</label>
    <select id="minThickness" name="minThickness">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select>

    <br><label for="parts">Select Parts:</label><br>
    <select id="parts" name="parts" multiple size="5" >
        {% for part in parts %}
            <option value="{{ part }}"
                {% if part in selected_parts %}
                    selected
                {% endif %}
            >{{ part }}</option>
        {% endfor %}
    </select>

    <br><label for="countries">Select Countries:</label><br>
    <select id="countries" name="countries" multiple size="5" >
        {% for country in countries %}
            <option value="{{ country }}"
                {% if country in selected_countries %}
                    selected
                {% endif %}
            >{{ country }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Submit">
</form>


{% endblock %}